﻿@using CargoRunTestTask.Core.Dto
@model CargoRunTestTask.Core.Dto.UserDto

@{
    ViewData["Title"] = "Edit";
    var userRoles = ViewBag.Roles != null ? (List<UserRoleDto>) ViewBag.Roles : new List<UserRoleDto>();
}

<h1>Редактирование</h1>

<h4>Пользователь</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" type="hidden"/>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" readonly/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Пароль</label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label">Группа</label>
                <select asp-for="RoleId" class="form-control">
                    @foreach (var userRole in userRoles)
                    {
                        if (Model.RoleId == userRole.Id)
                        {
                            <option value="@userRole.Id" selected>@userRole.DisplayName</option>
                        }
                        else
                        {
                            <option value="@userRole.Id">@userRole.DisplayName</option>
                        }
                    }
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
