﻿@model ListViewModel<CargoRunTestTask.Core.Dto.UserDto>

@addTagHelper *, CargoRunTestTask.Web

@{
    ViewData["Title"] = "Index";
}

<h1>Пользователи</h1>

<p><a asp-action="Register">Новый пользователь</a></p>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="get" class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" name="filter" placeholder="Email">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Фильтровать</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Роль
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleDisplayName)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { userId = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { userId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
