﻿@using CargoRunTestTask.Core.Dto
@model CargoRunTestTask.Web.Models.Account.RegisterModel

@{
    var userRoles = ViewBag.Roles != null ? (List<UserRoleDto>)ViewBag.Roles : new List<UserRoleDto>();
}

<h2>Регистрация</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="User" asp-anti-forgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Введите Email</label>
                <input type="text" asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label">Введите группу</label>
                <select asp-for="RoleId" class="form-control">
                    @foreach (var userRole in userRoles)
                    {
                        <option value="@userRole.Id">@userRole.DisplayName</option>
                    }
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Введите пароль</label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Повторите пароль</label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Регистрация" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>